import Layout from "@theme/Layout";
import TabItem from "@theme/TabItem";
import Tabs from "@theme/Tabs";
import clsx from "clsx";
import React from "react";
import Collapsible from "react-collapsible";

const TITLE = "{{{name}}}";
const DESCRIPTION =
`{{{description}}}`

var showdown = require("showdown"),
converter = new showdown.Converter({"tables": true, "ghCodeBlocks": true});
showdown.setFlavor("github");
const README =
"{{{readme}}}"

function {{id}}() {
return (
<Layout title={TITLE} description={DESCRIPTION} wrapperClassName="contentPack">
    <div>
        <div className="container">
            <h1 className="hero__title">{TITLE}</h1>
        </div>
    </div>
    <ul className={clsx("breadcrumbs", "contentPackAlign" )}>
        <li className="breadcrumbs__item">
            <a className="breadcrumbs__link" href="/marketplace">
                Marketplace
            </a>
        </li>
        <li className="breadcrumbs__item">{TITLE}</li>
    </ul>

    <main className={clsx("container", "contentPackAlign" )}>
        <Tabs defaultValue="details" values={[ { label: "Details" , value: "details" }, { label: "Content" ,
            value: "content" }, { label: "Version History" , value: "versions" }]}>
            <TabItem value="details">
                <div className="row">
                    <div className={clsx("col col--8" )}>
                        <div className={clsx("card shadow--md", "readme" )}>
                            <div className="card__header">
                                <h1>
                                    {TITLE}
                                    <span className="text text--secondary">
                                        <small><small><small> {{currentVersion}} {{versionInfo}}</small></small></small>
                                    </span>
                                </h1>
                            </div>
                            <div className="card__body">
                                <p>{DESCRIPTION}</p>
                                <article dangerouslySetInnerHTML=\{{ __html: converter.makeHtml(README), }}></article>
                            </div>
                        </div>
                    </div>
                    <div className="col col--4">
                        <h4 className="text text--secondary">PUBLISHER</h4>
                        {{#if isActive}}
                        <img title="{{author}}"
                            src="https://storage.googleapis.com/marketplace-dist/{{authorImage}}"></img>
                        {{else}}
                        <p className="text">{{author}}</p>
                        {{/if}}
                        <h4 className="text text--secondary">INFO</h4>
                        <table className="infoTable">
                            <tbody>
                                {{#if certification}}
                                <tr className="infoTableRow">
                                    <td>Certification</td>
                                    <td className="certifiedLogo">Certified</td>
                                    <td>
                                        <a target="_blank"
                                            href="https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-0/cortex-xsoar-admin/marketplace/marketplace-subscriptions.html">
                                            Read more
                                        </a>
                                    </td>
                                </tr>
                                {{/if}}
                                <tr className="infoTableRow">
                                    <td>Supported By</td>
                                    <td>{{support}}</td>
                                    <td></td>
                                </tr>
                                <tr className="infoTableRow">
                                    <td>Created</td>
                                    <td>{{created}}</td>
                                    <td></td>
                                </tr>
                                <tr className="infoTableRow">
                                    <td>Last Release</td>
                                    <td>{{updated}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div className="row">
                            {{#each useCases}}
                            <span className={clsx("badge badge--secondary", "usecaseBadge" )}>
                                {{this}}
                            </span>
                            {{/each}}
                        </div>
                        {{#if integrations}}
                        <h5 className="text text--secondary">
                            WORKS WITH THE FOLLOWING INTEGRATIONS:
                        </h5>
                        <div className="detailsIntegrations">
                            {{#each integrations}}
                            <div className="detailsIntegrationImageContainer">
                                <img className="detailsIntegrationImage"
                                    src="https://storage.googleapis.com/marketplace-dist/{{this.imagePath}}"
                                    title="{{this.name}}"></img>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                        <hr />
                        <h5 className="text text--secondary">DISCLAIMER</h5>
                        <small>
                            Content packs are licensed by the Publisher identified above
                            and subject to the Publisher’s own{" "}
                            <a href="https://github.com/demisto/content/blob/master/LICENSE">
                                licensing terms
                            </a>
                            . Palo Alto Networks is not liable for and does not warrant or
                            support any content pack produced by a third-party Publisher,
                            whether or not such packs are designated as “Palo Alto
                            Networks-certified” or otherwise. For more information, see
                            the{" "}
                            <a
                                href="https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-0/cortex-xsoar-admin/marketplace/marketplace-subscriptions.html">
                                Marketplace documentation
                            </a>
                            .
                        </small>
                    </div>
                </div>
            </TabItem>
            <TabItem value="content">
                {{#if contentItems}}
                {{#each contentItems}}
                <div className={clsx("row", "version" )}>
                    <div className="col col--8">
                        <div className={clsx("card shadow--md", "contentCard" )}>
                            <Collapsible trigger="{{@key}}">
                                <table className="contentTable">
                                    <thead>
                                        <tr className="infoTableRow">
                                            <th className="contentTableColName">Name</th>
                                            <th className="contentTableColDesc">Description</th>
                                        </tr>
                                    </thead>
                                    {{#each this}}
                                    <tbody>
                                        <tr className="infoTableRow">
                                            <td className="contentTableColName">
                                                {{#if this.docLink}}
                                                    <a href="{{this.docLink}}"> {{this.name}} </a>
                                                {{else}}
                                                    <p>{{this.name}}</p>
                                                {{/if}}
                                            </td>
                                            <td className="contentTableColDesc">
                                                <article dangerouslySetInnerHTML=\{{ __html:
                                                    converter.makeHtml("{{{this.description}}}"), }}></article>
                                            </td>
                                        </tr>
                                    </tbody>
                                    {{/each}}
                                </table>
                            </Collapsible>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </TabItem>
            <TabItem value="versions">
                {{#if changeLog}}
                {{#each changeLog}}
                <div className={clsx("row", "version" )}>
                    <div className="col col--8">
                        <div className={clsx("card shadow--md", "versionCard" )}>
                            <Collapsible trigger="{{this.displayName}} ({{this.released}})">
                                <article dangerouslySetInnerHTML=\{{ __html:
                                    converter.makeHtml("{{{this.releaseNotes}}}"), }}></article>
                            </Collapsible>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </TabItem>
        </Tabs>
    </main>
</Layout>
);
}

export default {{id}};
