import Layout from "@theme/Layout";
import TabItem from "@theme/TabItem";
import ContentPackTabs from "../../../../theme/ContentPackTabs";
import clsx from "clsx";
import React from "react";
import Collapsible from "react-collapsible";

const TITLE = "{{{name}}}";
const DESCRIPTION =
`{{{description}}}`

var showdown = require("showdown"),
converter = new showdown.Converter({"tables": true, "ghCodeBlocks": true});
showdown.setFlavor("github");
const README =
"{{{readme}}}"


function {{id}}() {
return (
<Layout title={TITLE} description={DESCRIPTION} wrapperClassName="contentPack">
    <div>
    <br/>
        <div className="container">
            <h1 className="hero__title">{TITLE}</h1>
        </div>
    </div>

    <main className={clsx("container", "contentPackAlign" )}>
        <ContentPackTabs defaultValue="details" premium="{{premium}}" downloadUrl="https://marketplace-dist.storage.googleapis.com/content/packs/{{packId}}/{{packId}}_with_dependencies.zip"
        values={[ { label: "Details" , value: "details" }, { label: "Content" , value: "content" }, { label: "Dependencies" , value: "dependencies" }, { label: "Version History" , value: "versions" }]}>
            <TabItem value="details">
                <div className="row">
                    <div className={clsx("col col--8" )}>
                        <div className={clsx("card shadow--md", "readme" )}>
                            <div className="card__body">
                                <p>{DESCRIPTION}</p>
                                {{#each videos}}
                                  <video data-yt2html5="{{this}}"></video>
                                  <script src="https://cdn.jsdelivr.net/gh/thelevicole/youtube-to-html5-loader@5.0.0/dist/YouTubeToHtml5.js"></script>
                                  <script>new YouTubeToHtml5();</script>
                                {{/each}}
                                <article dangerouslySetInnerHTML=\{{ __html: converter.makeHtml(README), }}></article>
                            </div>
                        </div>
                    </div>
                    <div className="col col--4">
                        <h4 className="text text--secondary">PUBLISHER</h4>
                        {{#if isActive}}
                        <img title="{{author}}"
                            src="https://storage.googleapis.com/marketplace-dist/{{authorImage}}"></img>
                        {{else}}
                        <p className="text">{{author}}</p>
                        {{/if}}
                        <h4 className="text text--secondary">INFO</h4>
                        <table className="infoTable">
                            <tbody>
                                {{#if certification}}
                                <tr className="infoTableRow">
                                    <td>Certification</td>
                                    <td className="certifiedLogo">Certified</td>
                                    <td>
                                        <a target="_blank"
                                            href="https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-0/cortex-xsoar-admin/marketplace/marketplace-subscriptions.html">
                                            Read more
                                        </a>
                                    </td>
                                </tr>
                                {{/if}}
                                <tr className="infoTableRow">
                                    <td>Supported By</td>
                                    <td>{{support}}</td>
                                    <td></td>
                                </tr>
                                <tr className="infoTableRow">
                                    <td>Created</td>
                                    <td>{{created}}</td>
                                    <td></td>
                                </tr>
                                <tr className="infoTableRow">
                                    <td>Last Release</td>
                                    <td>{{updated}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div className="row">
                            {{#each useCases}}
                            <span className={clsx("badge badge--secondary", "usecaseBadge" )}>
                                {{this}}
                            </span>
                            {{/each}}
                        </div>
                        {{#if integrations}}
                        <h5 className="text text--secondary">
                            WORKS WITH THE FOLLOWING INTEGRATIONS:
                        </h5>
                        <div className="detailsIntegrations">
                            {{#each integrations}}
                            <div className="detailsIntegrationImageContainer">
                                <img className="detailsIntegrationImage"
                                    src="https://storage.googleapis.com/marketplace-dist/{{this.imagePath}}"
                                    title="{{this.name}}"></img>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                        <hr />
                        <h5 className="text text--secondary">DISCLAIMER</h5>
                        <small>
                            Content packs are licensed by the Publisher identified above
                            and subject to the Publisher’s own{" "}
                            <span><a href="{{licenseLink}}">
                                licensing terms
                            </a></span>
                            . Palo Alto Networks is not liable for and does not warrant or
                            support any content pack produced by a third-party Publisher,
                            whether or not such packs are designated as “Palo Alto
                            Networks-certified” or otherwise. For more information, see
                            the{" "}
                            <a
                                href="https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-0/cortex-xsoar-admin/marketplace/marketplace-subscriptions.html">
                                Marketplace documentation
                            </a>
                            .
                        </small>
                    </div>
                </div>
            </TabItem>
            <TabItem value="content">
                {{#if contentItems}}
                {{#each contentItems}}
                <div className={clsx("row", "version" )}>
                    <div className="col col--8">
                        <div className={clsx("card shadow--md", "contentCard" )}>
                            <Collapsible trigger="{{@key}}">
                                <table className="contentTable">
                                    <thead>
                                        <tr className="infoTableRow">
                                            <th className="contentTableColName">Name</th>
                                            <th className="contentTableColDesc">Description</th>
                                        </tr>
                                    </thead>
                                    {{#each this}}
                                    <tbody>
                                        <tr className="infoTableRow">
                                            <td className="contentTableColName">
                                                {{#if this.docLink}}
                                                    <a href="{{this.docLink}}"> {{this.name}} </a>
                                                {{else}}
                                                    <p>{{this.name}}</p>
                                                {{/if}}
                                            </td>
                                            <td className="contentTableColDesc">
                                                <article dangerouslySetInnerHTML=\{{ __html:
                                                    converter.makeHtml("{{{this.description}}}"), }}></article>
                                            </td>
                                        </tr>
                                    </tbody>
                                    {{/each}}
                                </table>
                            </Collapsible>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </TabItem>
            <TabItem value="dependencies">
                {{#if dependencies.mandatory}}
                <div className={clsx("row", "version" )}>
                    <div className="col col--8">
                        <div className={clsx("card shadow--md", "dependenciesCard" )}>
                            <Collapsible trigger="Required Content Packs ({{dependencies.mandatoryCount}})">
                                <table className="contentTable">
                                    <thead>
                                        <tr className="infoTableRow">
                                            <th className="contentTableColName">Pack Name</th>
                                            <th className="contentTableColDesc">Pack By</th>
                                        </tr>
                                    </thead>
                                    {{#each dependencies.mandatory}}
                                    <tbody>
                                        <tr className="infoTableRow">
                                            <td className="contentTableColName">
                                                <a href="https://xsoar.pan.dev/marketplace/details/{{@key}}">{{@key}}</a>
                                            </td>
                                            <td className="contentTableColDesc">
                                                <p>By: {{this.support}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                    {{/each}}
                                </table>
                            </Collapsible>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if dependencies.optional}}
                <div className={clsx("row", "version" )}>
                    <div className="col col--8">
                        <div className={clsx("card shadow--md", "dependenciesCard" )}>
                            <Collapsible trigger="Optional Content Packs ({{dependencies.optionalCount}})">
                                <table className="contentTable">
                                    <thead>
                                        <tr className="infoTableRow">
                                            <th className="contentTableColName">Pack Name</th>
                                            <th className="contentTableColDesc">Pack By</th>
                                        </tr>
                                    </thead>
                                    {{#each dependencies.optional}}
                                    <tbody>
                                        <tr className="infoTableRow">
                                            <td className="contentTableColName">
                                                <a href="https://xsoar.pan.dev/marketplace/details/{{@key}}">{{@key}}</a>
                                            </td>
                                            <td className="contentTableColDesc">
                                                <p>By: {{this.support}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                    {{/each}}
                                </table>
                            </Collapsible>
                        </div>
                    </div>
                </div>
                {{/if}}
            </TabItem>
            <TabItem value="versions">
                {{#if changeLog}}
                {{#each changeLog}}
                <div className={clsx("row", "version" )}>
                    <div className="col col--8">
                        <div className={clsx("card shadow--md", "versionCard" )}>
                            <Collapsible trigger="{{this.displayName}} ({{this.released}})">
                                <article dangerouslySetInnerHTML=\{{ __html:
                                    converter.makeHtml("{{{this.releaseNotes}}}"), }}></article>
                                {{#if pullRequests.length}}
                                    Related pull requests:
                                    {{#each this.pullRequests}}
                                    <br/>
                                    - <a href="https://github.com/demisto/content/pull/{{this}}">{{this}} </a>
                                    {{/each}}
                                    <br/>
                                    <br/>
                                {{/if}}
                                {{#unless ../premium}}
                                <a className="button button--outline button--primary button--md" href="https://storage.googleapis.com/marketplace-dist/content/packs/{{../packId}}/{{this.version}}/{{../packId}}.zip" target="_blank" title="Warning: Downloading this pack without its required dependencies may result in failed installation.">Download</a>
                                {{/unless}}
                            </Collapsible>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </TabItem>
        </ContentPackTabs>
    </main>
</Layout>
);
}

export default {{id}};
